<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="master">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>uytuy</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="row">
            <div class="col-md-6">
                <h2 th:text="${post.subject}"></h2>

                <p class="post-date" th:text="${post.date}"></p>

                <pre th:text="${post.text}"></pre>
            </div>
        </div>
    </section>
</body>
</html>